
/* HEAD (BELOW)*/

    /* Logo */
    #Logo {
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
    /* Logo */

    /* Slogon */
    #slogon {
        font-size: 18px;
        line-height: 50px;
        padding: 10px 0px 0px 0px;
        margin: 0px;
        font-family: 'Pacifico', cursive;
        color: #da620c;
    }
    /* Slogon */

    /* Form (below) */
    #login_form {
        padding: 20px 0px 0px 0px;
        float: right;
        margin: 0px;
    }

    #signup {
        width: 110px;
        height: 30px;
        border: none;
        color: black;
        background-color: #ccc;
        font-weight: bold;
        border-radius: 2px;
        margin: 0px;
    }

    #signup:hover {
        background-color: #da620c;
    }

    #login {
        width: 110px;
        height: 30px;
        border: none;
        color: #333;
        background-color: #f47920;
        border-radius: 2px;
        margin: 0px;
    }

    #login:hover {
        background-color: #da620c;
        color: #ddd
    }

    @media screen and (max-width: 1000px) {
        #slogon {
            display: none;
        }

        #login_form {
            text-align: center;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        #signup,#login {
            width: 46%;
            height: 30px;
            font-size: 12px;
        }
    } 

    /* Form (above)*/


    /* Side nav (below) */
    
        /* The side navigation menu */
        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 10; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
            opacity: 0.95;
        }

        /* The navigation menu links */
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none !important;
            font-size: 12px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover{
            color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }


    /* Side nav (above) */


    /* Back to top button (below) */
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color:#333;
        color: #bbb; 
        cursor: pointer;
        padding: 10px 16px 10px 16px;
        border-radius: 6px;
        font-size: 18px;
    }
    
    #myBtn:hover {
        background-color: #555;
        transition: 0.2s linear;
    }
    /* Back to top button (above) */

    /* click to call button (below) */

    #call_button {
        position: fixed;
        bottom: 80px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color:#f47920;
        color: #333; 
        cursor: pointer;
        padding: 10px 14px 10px 14px;
        border-radius: 6px;
        font-size: 18px;
    }

    /* click to call button (below) */


    /* B button (below)*/
    .topnav #home  {
        padding: 8px!important;
        padding-left: 16px !important;
        margin: 0px;
    }

    .topnav #home img:hover {
        transform: scale(1.2, 1.2);
        transition: 0.1s linear;
    }

    .topnav .icon {
        display: none;
        margin: 0px;
    }
    /* B button (above) */

    /* Menu (below)*/
    .topnav {
        background-color: #333;
        overflow: hidden;
        margin: 0px;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        font-size: 14px;
    }

    .topnav a:hover {
        color: #f47920;
        text-decoration: none;
    }

    .active {
        background-color:#f47920;
        color: white;
    }
    /* Memu (above) */


    /* Search input (below) */
    .topnav .search-container {
        float: right;
    }
    
    .topnav input[type=text] {
        padding: 6px;
        margin-top: 10px;
        font-size: 14px;
        border: none;
        background-color: #717171;
    }
    
    .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 10px;
        margin-right: 16px;
        background: #111;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }
    
    .topnav .search-container button:hover {
        background: #ccc;
    }
    /* Search input (above) */


    /* shoping icon (below) */
    .topnav .shoping {
        float: right;
        padding: 6px 20px 6px 0px;
        margin: 10px;
        position: relative;
        background-color: #333;
        border: none;
    }

    .topnav .shoping .badge {
        background-color: seagreen;
        font-size: 12px;
        padding: 3px 5px 3px 5px;
        position: absolute;
        top: 0px;
        left: 14px;
    }
    
    /* shoping icon (above) */


    /* Responsive (below)*/
    @media screen and (max-width: 860px) {
        #slogon {
            display: none;
        }

        #login_form {
            text-align: center;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .topnav a {display: none;}
        
        .topnav .search-container {
            float: right;
            padding-left: 10px;
        }

        .topnav a.icon {
            float: left;
            display: block;
        }
    }
  
    @media screen and (max-width: 860px) {
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive a.icon {
            position: absolute;
            left: 0;
            top: 0;
        }

        .topnav.responsive .shoping {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        .topnav.responsive .search-container {
            display: block;
            position: absolute;
            right: 52px;
            top: 0;
        }
    }
    /* Responsive (above)*/


/* HEAD (ABOVE)*/


/* MAIN CONTAINER BOOK (BELOW) */

    /* ROW BREADCRUMB NAV (BELOW) */
    
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
        margin: 20px 0px 20px 0px !important;
    }

    ul.breadcrumb li {
        display: inline;
        font-size: 14px;
    }

    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }

    /* ROW BREADCRUMB NAV (ABOVE) */



    /* ROW MAIN BOOK (BELOW) */

        /* Book Info (below) */

        .book_item_img {
            padding: 20px;
            border: 0.1px #eee solid;
        }

        .book_item_info {
            padding: 20px;
        }

        .book_name {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        .book_item_detail {
            padding: 20px 0px 10px 0px;
        }

        .book_item_author {
            font-weight: bold;
            color: #333;
        }

        .book_item_pages {
            font-weight: bold;
            color: #333;
        }

        .book_item_nxb {
            font-weight: bold;
            color: #333;
        }

        .book_item_status {
            font-weight: bold;
            color: green;
        }

        .book_item_price {
            font-weight: bold;
            color: #f47920;
            font-size: 18px;
        }

        .btn_buy {
            width: 150px;
            height: 40px;
            margin: 0px 10px 10px 0px;
            color: white;
            background-color: #f47920;
            border: none;
            border-radius: 3px;
        }

        .btn_buy:hover {
            background-color: green;
        }

        .btn_buy_ebook {
            background-color: #717171;
        }

        .btn_read {
            background-color: #717171;
        }



        @media screen and (max-width: 900px) {
            .btn_buy {
                width: 90px;
                font-size: 10px;
            }
        }

        .book_permistion {
            margin: 10px 0px 10px 0px;
            font-size: 12px;
            color: #333;
        }

        /* Book Info (above) */

        /* Book description (below) */

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 0.1px solid #eee;
            background-color: #f1f1f1;
            margin: 10px 0px 0px 0px !important;
            padding: 0px 0px 0px 0px !important;

        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: #ccc;
            float: left;
            border: 0.1px solid #ccc;
            outline: none;
            cursor: pointer;
            padding: 10px 0px 10px 0px;
            transition: 0.3s;
            width: 150px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #f47920;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 20px 20px;
            border: 1px solid #eee;
            border-top: none;
            text-align: justify;
        }


        /* Book description (above) */


    /* ROW MAIN BOOK (ABOVE) */


/* MAIN CONTAINER BOOK (ABOVE) */


/* MAIN CONTAINER (BELOW) */
    /* Book menu  (below)*/

    .menu {
        padding: 0px !important;
        margin: 0px !important;
    }

    #book_menu {
        background: #f47920;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 15px;
        color: black;
        font-weight: bold;
        margin-top : 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .accordion {
        background-color: #eee;
        color: #da620c;
        font-weight: bold;
        cursor: pointer;
        padding: 12px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        margin: none;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0px 18px;
        background-color: rgb(233, 210, 176);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border: none;
        margin: none;
    }

    .panel .link {
        padding: 4px 4px, 4px, 4px !important;
        margin: 0 2px 0 2px !important;
        background-color:white;
        color: #333;
        font-size: 14px;
    }

    .panel .link:hover {
        color: #f47920;
        transition: 0.1s ease;
        text-decoration: none !important;
    }
    /* Book menu  (above)*/

    /* Special Book (below) */

    #special_book {
        background: #f47920;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 15px;
        color: black;
        font-weight: bold;
        margin-top : 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #special_book a:hover {
        color: white;
        transition: 0.1s ease;
        text-decoration: none;
    }

    /* Special Book (above) */


    /* Discount Book (below) */
        /* Book Style (below)*/

        /* .book_discount {
            border: 0.1px #eee solid;
        } */

        .discount_book {
            margin: 20px 0px 20px 0px;
        }

        .img_book_dis {
            padding: 10px 10px 10px 10px;
            border: 0.1px #eee solid;
        }

        .img_book_dis img {
            box-shadow:  -3px 3px 15px 0px  #777;
        }

        .checked {
            color: orange;
        }

        .info_book_dis {
            padding: 20px 0px 20px 0px;
        }

        .info_book_dis .book_name {
            font-size: 12px;
            font-weight: 400;    
        }

        .info_book_dis a:hover {
            text-decoration: none !important;
            color: #da620c !important;
        }

        .info_book_dis .book_price {
            color: black;
            font-size: 12px;
        }

        /* img */
            .img_book_dis {
                position: relative;
                width: 100%;
            }
        
            .img_book_dis img {
                width: 100%;
                height: auto;
                opacity: 1;
                transition: 0.5s ease;
                backface-visibility: hidden;
            }
        
            .img_book_dis .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #111;
                color: white;
                font-size: 10px;
                padding: 8px 12px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                transition: 0.5s ease;
                opacity: 0;
            }

            .img_book_dis:hover img{
                opacity: 0.5;
            }
            
            .img_book_dis:hover .btn {
                opacity: 1;
            }

            .img_book_dis .btn:hover {
                background-color: #f47920;

            }
        /* Book Style (abobe)*/
    

    /* Discount Book (above) */


    /* Row Book (below) */

    #new_book {
        background: #eee;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 15px;
        color: #333;
        font-weight: bold;
        margin-top : 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #new_book a:hover {
        color: #da620c;
        text-decoration: none;
    }

        /* Book Style (below)*/

        .img_book {
            padding: 30px;
            border: 0.1px #eee solid;
        }

        .img_book img {
            box-shadow:  -3px 3px 15px 0px  #777;
        }

        .checked {
            color: orange;
        }

        .info_book {
            padding: 20px;
        }

        .info_book .book_name {
            font-size: 12px;
            font-weight: 400;    
        }

        .info_book a:hover {
            text-decoration: none !important;
            color: #da620c !important;
        }

        .info_book .book_price {
            color: black;
            font-size: 12px;
        }

        /* img */
            .img_book {
                position: relative;
                width: 100%;
            }
        
            .img_book img {
                width: 100%;
                height: auto;
                opacity: 1;
                transition: 0.5s ease;
                backface-visibility: hidden;
            }
        
            .img_book .btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #111;
                color: white;
                font-size: 10px;
                padding: 8px 12px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                transition: 0.5s ease;
                opacity: 0;
            }

            .img_book:hover img{
                opacity: 0.5;
            }
            
            .img_book:hover .btn {
                opacity: 1;
            }

            .img_book .btn:hover {
                background-color: #f47920;

            }
        /* Book Style (abobe)*/
        
    /* Row Book (above) */

/* MAIN CONTAINER (ABOVE) */


/* ADVERTISING CONTAINER (BELOW) */

.advertising {
    padding: 0px !important;
    margin: 20px 0px 20px 0px;
}

    /* Baner (below) */
    .ads_img {
        margin-bottom: 20px;
        position: relative;
    }

    .ads_quote {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: black;
        font-weight: bold;
        font-size: 34px;
        border: none;
        cursor: pointer;
        transition: 0.5s ease;
        opacity: 0;  
    }

    .ads_img:hover img {
        opacity: 0.4;
    }

    .ads_img:hover .ads_quote {
        opacity: 1 !important;
    }
    /* Baner (above) */

    /* Blog (below) */

    .blog_name {
        color: #111;
        font-size: 14px;
        font-weight: bold;
        padding: 20px 0px 0px 0px;
        text-decoration: none;
        margin: 0px;
    }

    .blog_name:hover {
        color: #da620c;
    }

    .blog_ds {
        color: #111;
        font-size: 12px;
        text-decoration: none;
    }

    /* Blog (above) */

/* ADVERTISING CONTAINER (ABOVE) */



/* FOOTER CONTAINER (BELOW) */

    /* Row permission (below) */
    .permistion {
        padding: 10px 5px 0px 5px;
        background-color: #ddd;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: #f47920;
        margin: 0px;
    }
    /* Row permission (about) */


    /* Row footer (below) */
    .footer {
        padding: 40px;
        background-color: #333;
        color: #bbb;
        font-size: 14px;
        margin: 0px;
    }

        /* Social */
        .social {
            padding: 20px 10px;
        }

        /* Email */
        .input_email {
            width: 68%;
            height: 40px;
            background-color: #bbb;
            border: none;
            color: #333;
            padding: 10px;
            margin: 20px 0px 20px 0px;
        }

        .submit_email {
            width: 20%;
            height: 42px;
            background-color: #111;
            border: none;
            color: #bbb;
            padding: 10px;
            margin: 20px 0px 20px 0px;
            font-weight: bold;
        }

        .submit_email:hover {
            background-color: #da620c;
            color: #111;
            transition: 0.2s ease;
        }

        /* Contact */
        .contact {
            color: #bbb;
            font-size: 12px;
            padding-left: 20px;
        }
    /* Row footer (above) */

    /* Row copyright(below) */
    .copyright {
        padding: 0px;
        background-color: #111;
        color: #bbb;
        text-align: center;
        font-size: 12px;
    }
    /* Row copyright(above) */


 
  /* FOOTER CONTAINER (ABOVE) */